/* ALIGNMENT */
.flex-alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}

/* PADDING */
.P-1{
    padding: 0.1rem;
}
.P-2{
    padding: 0.2rem;
}   
.P-3{
    padding: 0.5rem;
}
.P-4{
    padding: 1rem;
}
.P-5{
    padding: 2rem;
}

/* MARGIN */
.m-1{
    margin: 0.1rem;
}
.m-2{
    margin: 0.2rem;
}
.m-3{
    margin: 0.5rem;
}
.m-4{
    margin: 1rem;
}
.m-5{
    margin: 2rem;
}

/* Vertical Margins */
.my-1{
    margin: 0.1rem;
}
.my-2{
    margin: 0.2rem;
}
.my-3{
    margin: 0.5rem;
}
.my-4{
    margin: 1rem;
}
.my-5{
    margin: 2rem;
}

/* TEXT SIZES */

/* TEXT COLORS */
.primary-color{
    color: var(--white-color);
}
.secondary-color{
    color: var(--green-color);
}/* ALIGNMENT */
.flex-alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}

/* PADDING */
.P-1{
    padding: 0.1rem;
}
.P-2{
    padding: 0.2rem;
}   
.P-3{
    padding: 0.5rem;
}
.P-4{
    padding: 1rem;
}
.P-5{
    padding: 2rem;
}

/* MARGIN */
.m-1{
    margin: 0.1rem;
}
.m-2{
    margin: 0.2rem;
}
.m-3{
    margin: 0.5rem;
}
.m-4{
    margin: 1rem;
}
.m-5{
    margin: 2rem;
}

/* Vertical Margins */
.my-1{
    margin: 0.1rem;
}
.my-2{
    margin: 0.2rem;
}
.my-3{
    margin: 0.5rem;
}
.my-4{
    margin: 1rem;
}
.my-5{
    margin: 2rem;
}

/* TEXT SIZES */

/* TEXT COLORS */
.primary-color{
    color: var(--white-color);
}
.secondary-color{
    color: var(--green-color);
}/* ALIGNMENT */
.flex-alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}

/* PADDING */
.P-1{
    padding: 0.1rem;
}
.P-2{
    padding: 0.2rem;
}   
.P-3{
    padding: 0.5rem;
}
.P-4{
    padding: 1rem;
}
.P-5{
    padding: 2rem;
}

/* MARGIN */
.m-1{
    margin: 0.1rem;
}
.m-2{
    margin: 0.2rem;
}
.m-3{
    margin: 0.5rem;
}
.m-4{
    margin: 1rem;
}
.m-5{
    margin: 2rem;
}

/* Vertical Margins */
.my-1{
    margin: 0.1rem;
}
.my-2{
    margin: 0.2rem;
}
.my-3{
    margin: 0.5rem;
}
.my-4{
    margin: 1rem;
}
.my-5{
    margin: 2rem;
}

/* TEXT SIZES */

/* TEXT COLORS */
.primary-color{
    color: var(--white-color);
}
.secondary-color{
    color: var(--green-color);
}/* ALIGNMENT */
.flex-alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}

/* PADDING */
.P-1{
    padding: 0.1rem;
}
.P-2{
    padding: 0.2rem;
}   
.P-3{
    padding: 0.5rem;
}
.P-4{
    padding: 1rem;
}
.P-5{
    padding: 2rem;
}

/* MARGIN */
.m-1{
    margin: 0.1rem;
}
.m-2{
    margin: 0.2rem;
}
.m-3{
    margin: 0.5rem;
}
.m-4{
    margin: 1rem;
}
.m-5{
    margin: 2rem;
}

/* Vertical Margins */
.my-1{
    margin: 0.1rem;
}
.my-2{
    margin: 0.2rem;
}
.my-3{
    margin: 0.5rem;
}
.my-4{
    margin: 1rem;
}
.my-5{
    margin: 2rem;
}

/* TEXT SIZES */

/* TEXT COLORS */
.primary-color{
    color: var(--white-color);
}
.secondary-color{
    color: var(--green-color);
}